@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,500&family=Oswald:wght@500&display=swap');


$color-main: #6ef500;
$color-sec: #c1fa92;
$color-hover: #196406;
$font-main: 'Josefin Sans', sans-serif;